* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: white;
    background-color: #010c17;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background-color: rgb(1, 9, 15);
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideright .5s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slidetop .5s ease forwards;
}

.navbar a:hover {
    color: rgb(51, 241, 241);
}

.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 70px 10% 0;
    top: 200px;
}

.home img {
    position: absolute;
    bottom: -10px;
    width: 400px;
    right: 180px;
    border-radius: 50%;
    border: 4px solid white;
    background: linear-gradient(rgb(116, 2, 59), rgb(1, 71, 71));
    box-shadow: 1px 1px 120px 1px aqua;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    text-shadow: 1px 3px rgb(66, 206, 237);
    animation: slidebottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    text-shadow: 1px 2px rgb(66, 206, 237);
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content p {
    font-size: 20px;
    text-shadow: 1px 1px rgb(66, 206, 237);
    animation: slideleft 1s ease forwards;
    animation-delay: 1s;
}

.home-scl a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    margin: 30px 15px 30px 0;
    color: aqua;
    animation: slidebottom 1s ease forwards;
    animation-delay: .5s;
}

.home-scl a:hover {
    background: aqua;
    color: black;
    box-shadow: 0 0 20px aqua;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(4, 212, 212);
    border-radius: 40px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    animation: slidebottom 1s ease forwards;
}

.btn-box:hover {
    box-shadow: 0 0 20px aqua;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    position: relative;
    top: 300px;
    left: 160px;
}

.about-img img {
    padding-bottom: 20%;
    width: 200px;
    position: relative;
    top: 100px;

}

.about-text {
    position: relative;
    right: 200px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: aqua;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 4rem;
}



.box {
    position: relative;
    top: 350px;
}

.services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title1 {
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
}

.sub-title span {
    color: aqua;
}

.sub-title1 span {
    color: aqua;
}

.container {
    padding: 90px;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div {
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgba(4, 233, 245, 0.988);
}

.service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div a {
    text-decoration: none;
    color: aqua;
    font-size: 17px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 40px;
    background: aqua;
    font-size: 16px;
    color: #000;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slidetop ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px aqua, 0 0 25px aqua;

}

.read:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.service-list div:hover {
    transform: translateY(-10px);
}

.container1 {
    position: relative;
    top: 300px;
}

.sub-title1 {
    position: relative;
    top: 300px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading1 {
    text-align: center;
    text-decoration: none;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
}

.skill-bar {
    height: 7px;
    background-color: black;
    border-radius: 3px;
}

.skill-per {
    background-color: aqua;
    height: 7px;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: white;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

.bx {

    font-size: 30px;
    position: relative;
    top: 8px;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: rgb(3, 212, 212);
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;

}

.path-1 {
    animation: animate-path1 1s 1s linear forwards;
}

.path-2 {
    animation: animate-path2 1s 1s linear forwards;
}

.path-3 {
    animation: animate-path3 1s 1s linear forwards;
}

.path-4 {
    animation: animate-path4 1s 1s linear forwards;
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 100;
        ;
    }
}

@keyframes animate-path2 {
    100% {
        stroke-dashoffset: 125;
        ;
    }
}

@keyframes animate-path3 {
    100% {
        stroke-dashoffset: 115;
        ;
    }
}

@keyframes animate-path4 {
    100% {
        stroke-dashoffset: 75;
        ;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;

}

.radial-bar .text {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showtext 0.5s 1s linear forwards;
}

.move {
    position: relative;
    top: 500px;
}

























@keyframes slideright {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidetop {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidebottom {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slidebottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}